<!--
    EE5900: Intro to Robotics
    Lab 5: Working with Jackal

    Group 1:
      Roger Gomes (Team Lead)
      Sabari Manohar
      Deep Doshi

    Description:
      This Launch files intializes and launches the sicktoolbox_wrapper for the SICK LMS 291 LIDAR.
      It also runs the node that performs a radom walk for mapping and exploration.
      The exploration routine is recorded using rosbag which is then further used for map recreation using gmapping usaing a seperate launch file.

-->
<launch>
  <!-- Sicktoolbox Wrapper -->
  <!--<param name="sicklms/port" value="/dev/ttyS0" />
  <!-- <param name="sicklms/baud" value="38400" />
  <node name="sicklms" type="sicklms" pkg="sicktoolbox_wrapper" />-->
 <node name="lidar" pkg="sicktoolbox_wrapper" type="sicklms" args="_port:=/dev/ttyS0 _baud:=38400"/>

  <!-- Launch the Random Map exploration node -->
 <node name="rand_map" type="rand_move.py" pkg="lab_5_floor_mapper" output="screen" />

 <!-- Record the mapping routine-->
 <node pkg="rosbag" type="record" name="rosbag_record" args="-O $(find lab_5_floor_mapper)/src/bags/scanned /scan /tf" />

</launch>
